rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // 授權 Email 白名單檢驗
    function isAllowedUser() {
      return request.auth != null && 
             request.auth.token.email in [
               // 部署至 Firebase 後台時，請在此填入您的授權管理員 Google 信箱
               'YOUR_ADMIN_EMAIL@gmail.com'
               // , 'partner@gmail.com'
             ];
    }

    // 1. 公開參拜相片路徑 (支援全域廟宇照片讀取)
    match /photos/{templeId}/{photoName} {
      allow read: if true;
      allow write: if isAllowedUser()
                    && request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/(webp|jpeg|png)');
      allow delete: if isAllowedUser();
    }

    // 2. 個人專屬照片子路徑
    match /photos/{userId}/{templeId}/{photoName} {
      allow read: if true;
      allow write: if isAllowedUser()
                    && request.auth.uid == userId
                    && request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/(webp|jpeg|png)');
      allow delete: if isAllowedUser() && request.auth.uid == userId;
    }
  }
}
